<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/app.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Bad Apple</title>
</head>

<body>
    
    <%- include('../partials/navbar')  %> 
    
    <article class="message is-danger">
        <div class="message-header">
          <p>Try Again</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <strong>Incorrect username or password</strong>
        </div>
    </article>
    <div class="columns is-mobile is-multiline is-vcentered" id="cards-container">
        <% for(let idx=0; idx < movies.length; idx++){ %>
            <% const movie=movies[idx] %>
                <div class="column">
                    <div class="flip-card-container box">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="<%= movie.image %>" alt="<%= movie.title %>">
                            </div>
                            <div class="flip-card-back">
                                <p>
                                    <a href="/<%= movie.id %>" id="movie-title">
                                        <%= movie.title %>
                                    </a>
                                    <span>
                                        <%= movie.description %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

    </div>
    <footer class="footer" id="footer">
        <div class="content has-text-centered">
            <p><i class="fas fa-apple-alt"></i> <strong>Bad Apple</strong> by Jenna Waffensmith & Dan Bae</p>
            <hr>
        </div>
        <div class="content has-text-centered">
            <ul>
                <li>About Us</li>
                <li>Careers</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </footer>

</body>

</html>